:root {
  --primary-color: #0b1c3d;
  --secondary-color: #ff0077;
}

body {
  /* background-color: yellowgreen; */
}

.container__main {

    width: 100%;
    margin: auto;
    padding-left: 0px;
    padding-right: 0px;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    /* set seperate */
    justify-content: space-between;
}


/* most outside container: add media QUERY: begin */
@media (max-width: 1536px) {
    .container__main {
        width: 1366px;
    }
}

@media (max-width: 1366px) {
    .container__main {
        width: 1280px;
    }
}

@media (max-width: 1280px) {
    .container__main {
        width: 1024px;
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media (max-width: 1024px) {
    .container__main {
        width: 768px;
    }
}

@media (max-width: 768px) {
    .container__main {
        width: 640px;
    }
}

@media (max-width: 640px) {
    .container__main {
        width: 475px;
    }
}

@media (max-width: 475px) {
    .container__main {
        width: 380px;
    }
}